<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Chat en tiempo real</ion-title>
    
    <ion-buttons slot="end">
      <ion-item lines="none" class="header-user-info" detail="false">
        <ion-avatar slot="start">
          <img [src]="userPhoto || 'https://i.pravatar.cc/150?img=10'" alt="Avatar" />
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h5 style="margin: 0; color: white;">{{ userName }}</h5>
        </ion-label>
        <ion-button
          (click)="logout()"
          fill="outline"
          size="small"
          color="light"
          style="margin-left: 8px;"
        >
          Cerrar sesión
        </ion-button>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding chat-content">
  <ion-list>
    <ion-item *ngFor="let msg of messages" lines="none" class="chat-message" [ngClass]="{'mine': msg.user_id === userId}">
       <ion-avatar slot="start">
         <img [src]="msg.user_photo || 'https://i.pravatar.cc/150?img=11'" />
       </ion-avatar>
      <ion-label class="message-label">
        <!-- <h3>
          {{ msg.user_id === userId ? 'Tú' : msg.user_email || msg.user_id  }}
        </h3> -->
        <h3>{{ msg.user_email || 'Anónimo' }}</h3>
        <ng-container [ngSwitch]="msg.type">
          <p *ngSwitchCase="'text'">{{ msg.content }}</p>

          <img *ngSwitchCase="'image'" [src]="msg.content" alt="Imagen" />

          <a *ngSwitchCase="'file'" [href]="msg.content" target="_blank" class="file-link">
            📎 Archivo adjunto (click para abrir)
          </a>

          <a *ngSwitchCase="'location'" [href]="msg.content" target="_blank" class="location-link">
            📍 Ver ubicación en mapa
          </a>
        </ng-container>

        <small>{{ msg.timestamp | date:'short' }}</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center buttons-row" gutter="8">
        <ion-col size="auto">
          <ion-button expand="block" color="medium" size="small" fill="outline" (click)="sendPhoto()">
            📷 Imagen
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="block" color="warning" size="small" fill="outline" (click)="sendJoke()">
            😂 Chiste
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="block" color="success" size="small" fill="outline" (click)="sendLocation()">
            📍 Ubicación
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="block" color="tertiary" size="small" fill="outline" (click)="selectFile()">
            📎 Archivo
          </ion-button>
          <input type="file" #fileInput style="display: none;" (change)="handleFileUpload($event)">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none" class="input-item">
            <ion-input
              [(ngModel)]="newMessage"
              placeholder="Escribe un mensaje..."
              clearInput
              autofocus
              debounce="300"
              (keyup.enter)="sendMessage()"
            ></ion-input>
            <ion-button fill="solid" color="primary" (click)="sendMessage()">Enviar</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

